body{
    /* font-family: "<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">" ; */
    /* <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">"  */


    background-image: url(./faq4.jpg);
    background-size: cover;
    }
  .main{
    display: flex;
    margin:2em;
    
    background-color: rgb(79, 131, 131);
    border-radius: 10px;
    cursor: pointer;
    
    
  }

  .head {
    
    margin-left:350px ; 
    font-size: 20px;
    height: 100%;
    width: 100%;
    
  
    color: rgb(224, 120, 22);
   
    padding:1em;
   
  }
  .btn{
    margin-top: 15px;
     margin-right: 350px; 
    opacity: 0.5;
    color: rgb(224, 22, 22);
    font-size: 20px;
  }
  .head::before{
    
    display: inline-block;
    border: 15px solid transparent;
    border-left:20px solid white;
  }
    .new{
     display: flex;
     margin-left: 30px;
     margin-right: 30px;
     background-color: rgb(232, 83, 170);
     box-shadow: 3px 3px ;
     
    }
   .para{
     display: flex;
     
     margin-left: 50px;
     margin-right: 50px;
    
  }

  .all{
    width: 60%;
    display: block;
    margin-left: 18%;
    margin-top: 25px;
    
  }